apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: agentgateway-infra-root
  namespace: argocd
  labels:
    argocd.argoproj.io/instance: agentgateway-root
    app.kubernetes.io/managed-by: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/OmerItach/agentgateway-infra.git
    path: app-of-apps
    targetRevision: main
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
